In [1]:
import pandas as pd

In [47]:
data1= pd.read_csv('/content/내국인(집계구) 성별연령대별.csv', encoding='cp949')
data2=pd.read_csv('/content/내국인(집계구) 유입지별.csv', encoding='cp949')
data3=pd.read_csv('/content/신한카드 내국인 63업종 코드.csv', encoding='cp949')

data1 전처리 진행

In [50]:
data1.isnull().sum()

가맹점집계구코드(TOT_REG_CD)      0
내국인업종코드(SB_UPJONG_CD)     0
기준년월(TS_YM)               0
일별(TS_YMD)                0
개인법인구분(PSN_CPR)           0
성별(SEX_CCD)              27
연령대별(AGE_GB)             32
카드이용금액계(AMT_CORR)         0
카드이용건수(USECT_CORR)        0
dtype: int64

빅쿼리는 영어로 컬럼명을 업로드 해야하기 때문에 영어로 컬럼명을 변경해줌